<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <a roterlink="products">
            <h3><span class="orange-text">Our</span> Products</h3></a
          >
          <p>
            Personal style is about a sense of yourself, a sense of what you
            believe in, and wearing what you feel comfortable in.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href=""
              ><img
                src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQQVcWauoFUWfb9hFO3QNx9UqAjVqs1HT-raRJOVWtqZphEs8M3"
                alt=""
            /></a>
          </div>
          <h3>LipStick</h3>
          <p class="product-price"><span></span> 85$</p>
          <a href="" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href=""><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRcKkRrmrf8XL5lPS-sv5rVCLITGfUNsmuIYYgMIpoMiY2663kS" alt="" /></a>
          </div>
          <h3>Lip Gloos</h3>
          <p class="product-price"><span></span> 70$</p>
          <a href="" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href=""
              ><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdctPUtL298RcwFsdcapSzrbjmgqX2PNzdm_Uiim32HdLSbbJs"
                alt=""
            /></a>
          </div>
          <h3>Powder</h3>
          <p class="product-price"><span></span> 35$</p>
          <a href="" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product section -->
