
	
	<!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
	
	

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Keep Your Self Uptodate</p>
						<h1>News Article</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
<div class="latest-news pt-150 pb-150">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8 offset-lg-2 text-center">
		  <div class="section-title">
			<h3><span class="orange-text">Our</span> News</h3>
			<p>
			  The beauty of online shopping lies in the level of personalization
			  it can offer. From product recommendations based on your past
			  purchases to virtual try-ons that allow you to see how a shade will
			  look on your skin, e-stores are using technology to enhance the.
			</p>
		  </div>
		</div>
	  </div>
  
	  <div class="row">
		<div class="col-lg-4 col-md-6">
		  <div class="single-latest-news">
			<a href=""><div class="latest-news-bg news-bg-1"></div></a>
			<div class="news-text-box">
			  <h3><a href="">Global Beauty Trends at Your Fingertips.</a></h3>
			  <p class="blog-meta">
				<span class="author"><i class="fas fa-user"></i> Admin</span>
				<span class="date"
				  ><i class="fas fa-calendar"></i> 27 December, 2020</span
				>
			  </p>
			  <p class="excerpt">
				Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus
				nisi. Praesent vitae mattis nunc, egestas viverra eros.
			  </p>
			  <a href="" class="read-more-btn"
				>read more <i class="fas fa-angle-right"></i
			  ></a>
			</div>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6">
		  <div class="single-latest-news">
			<a href=""><div class="latest-news-bg news-bg-2"></div></a>
			<div class="news-text-box">
			  <h3>
				<a href="">Your clothes introduce you before you even speak</a>
			  </h3>
			  <p class="blog-meta">
				<span class="author"><i class="fas fa-user"></i> Admin</span>
				<span class="date"
				  ><i class="fas fa-calendar"></i> 27 December, 2019</span
				>
			  </p>
			  <p class="excerpt">
				Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus
				nisi. Praesent vitae mattis nunc, egestas viverra eros.
			  </p>
			  <a href="" class="read-more-btn"
				>read more <i class="fas fa-angle-right"></i
			  ></a>
			</div>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
		  <div class="single-latest-news">
			<a href=""><div class="latest-news-bg news-bg-3"></div></a>
			<div class="news-text-box">
			  <h3><a href="">Makeup is a powerful tool to transform </a></h3>
			  <p class="blog-meta">
				<span class="author"><i class="fas fa-user"></i> Admin</span>
				<span class="date"
				  ><i class="fas fa-calendar"></i> 27 December, 2019</span
				>
			  </p>
			  <p class="excerpt">
				Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus
				nisi. Praesent vitae mattis nunc, egestas viverra eros.
			  </p>
			  <a href="" class="read-more-btn"
				>read more <i class="fas fa-angle-right"></i
			  ></a>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-lg-12 text-center">
		  <a href="" class="boxed-btn" routerLink="home">Home</a>
		</div>
	  </div>
	</div>
  </div>
  <!-- end latest news -->
  