<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center container">
                <div class="main-menu-wrap">
                    <!-- logo statr-->
                    <div class="site-logo">
                        <a href="" routerLink="home" >
                            <img src="assets/images/Logo.svg" alt="Logo" class="logo">
                        </a>
                        <!-- <p class="current-list-item" style="color: chocolate;"> Easy Pick .. Easy Check</p> -->
                    </div>
                    <!-- logo end-->

                    <!-- menu start nav start -->
               
                     <div class="container" >
                    <nav class="main-menu"[class.show]="menuVisible">
                        <ul>
                            <li class="current-list-item"><a href="" routerLink="home">Home</a></li>
                            <li><a href=""routerLink="products">Products</a></li>
                             <li><a href="" routerLink="contact">Contact Us</a></li>
                            <li><a href="" routerLink="about">About</a></li>
                            <li><a href="" routerLink="news">News</a></li>
                            <li><a href=""routerLink="checkout">Check Out</a></li>
                            <li>
                            </li>
                        </ul>
                        <div class="login-start-container">
                            <ul class="header-icons" style="align-items: right;">
                                <!-- <li> -->
                                    <div class="header-icons">
                                      <li> <!--update cart icon -->
                                        <a class="shopping-cart" href="" routerLink="shoppingcart" style="position: relative;">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="cart-count">{{cartItemCount}}</span>
                                        </a> 
                                      </li>  
                                      <li> <a class="shopping-cart" href="" routerLink="login"> <i class="fa-solid fa-user-large"></i></a>
                                      <li>  <a class="mobile-hide search-bar-icon" (click)="toggleSearchBar()">
                                      <i class="fas fa-search"></i></a></li>
                                        
                                    </div>
                                <!-- </li>   -->
                            </ul>
                        </div>
                           
                    </nav>
                </div>
                    <!-- Mobile menu toggle icon -->
                    <div class="mobile-menu" (click)="toggleMenu()">
                        <i class="fas fa-bars"></i>
                    </div>
                    <!-- Search icon for mobile -->
                    <a class="mobile-show search-bar-icon" (click)="toggleSearchBar()"><i class="fas fa-search"></i></a>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->




<!-- search area -->

         