<!-- advertisement section -->
<div class="abt-section mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="abt-bg">
          <!-- <video  class="video-play-btn popup-youtube"
							controls poster="/src/assets/images/makeup-kit.jpg">
								<source src="https://video.search.yahoo.com/video/play;_ylt=AwrE_vjgjgJndrM7GD37w8QF;_ylu=c2VjA3NyBHNsawN2aWQEZ3BvcwM3?p=makeup+kinds&vid=6faa572793990a21652a06f6a90f7883&turl=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOVP.g1xJjeAb8-lVcoPI8BqcvgHgFo%26pid%3DApi%26h%3D360%26w%3D480%26c%3D7%26rs%3D1&rurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DkjwRCoZBQ-g&tit=%3Cb%3EMakeup%3C%2Fb%3E+Products+With+Name+And+Use%2FTypes+Of+%3Cb%3EMakeup%3C%2Fb%3E+Products+And+Uses%2F%3Cb%3EMakeup%3C%2Fb%3E+Products+For+Beginners&c=6&sigr=j_vzQv0cSEwp&sigt=tFEjKMitJeJN&sigi=Z8x62IBYnLRu&fr2=p%3As%2Cv%3Av&h=360&w=480&l=187&age=1621439659&fr=yhs-invalid&tt=b"
								type="video/mp4">
								</video>  -->
          <a
            class="video-play-btn popup-youtube"
            href="https://video.search.yahoo.com/video/play;_ylt=AwrE_vjgjgJndrM7GD37w8QF;_ylu=c2VjA3NyBHNsawN2aWQEZ3BvcwM3?p=makeup+kinds&vid=6faa572793990a21652a06f6a90f7883&turl=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOVP.g1xJjeAb8-lVcoPI8BqcvgHgFo%26pid%3DApi%26h%3D360%26w%3D480%26c%3D7%26rs%3D1&rurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DkjwRCoZBQ-g&tit=%3Cb%3EMakeup%3C%2Fb%3E+Products+With+Name+And+Use%2FTypes+Of+%3Cb%3EMakeup%3C%2Fb%3E+Products+And+Uses%2F%3Cb%3EMakeup%3C%2Fb%3E+Products+For+Beginners&c=6&sigr=j_vzQv0cSEwp&sigt=tFEjKMitJeJN&sigi=Z8x62IBYnLRu&fr2=p%3As%2Cv%3Av&h=360&w=480&l=187&age=1621439659&fr=yhs-invalid&tt=b"
          >
            <i class="fas fa-play"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="abt-text">
          <p class="top-sub">Since Year 1999</p>
          <h2>We are <span class="orange-text">E-Store</span></h2>
          <p>
            We shop for clothes, gadgets, and even groceries from the comfort of
            our homes. So why should beauty be any different? This is where
            e-stores for cosmetics step in. Offering a seamless, personalized
            shopping experience, they have redefined how we explore and purchase
            our favorite beauty products.
          </p>

          <a href="about" class="boxed-btn mt-4">know more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end advertisement section -->

<!-- shop banner -->
<section class="shop-banner">
  <div class="container">
    <h3>
      December sale is on! <br />
      with big <span class="orange-text">Discount...</span>
    </h3>
    <div class="sale-percent">
      <span
        >Sale! <br />
        Upto</span
      >50% <span>off</span>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnN1ya6t5bxH1oQqqx7s0c4Q21x2YUVeKlcZZnSJBAs__W1MNn"
      />
    </div>

    <a href="" class="cart-btn btn-lg">Shop Now</a>
  </div>
</section>
<!-- end shop banner -->

<!-- latest news -->
<div class="latest-news pt-150 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">Our</span> News</h3>
          <p>
            The beauty of online shopping lies in the level of personalization
            it can offer. From product recommendations based on your past
            purchases to virtual try-ons that allow you to see how a shade will
            look on your skin, e-stores are using technology to enhance the.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-news">
          <a href=""><div class="latest-news-bg news-bg-1"></div></a>
          <div class="news-text-box">
            <h3><a href="">Global Beauty Trends at Your Fingertips.</a></h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> Admin</span>
              <span class="date"
                ><i class="fas fa-calendar"></i> 27 December, 2020</span
              >
            </p>
            <p class="excerpt">
              Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus
              nisi. Praesent vitae mattis nunc, egestas viverra eros.
            </p>
            <a href="" class="read-more-btn"
              >read more <i class="fas fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-news">
          <a href=""><div class="latest-news-bg news-bg-2"></div></a>
          <div class="news-text-box">
            <h3>
              <a href="">Your clothes introduce you before you even speak</a>
            </h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> Admin</span>
              <span class="date"
                ><i class="fas fa-calendar"></i> 27 December, 2019</span
              >
            </p>
            <p class="excerpt">
              Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus
              nisi. Praesent vitae mattis nunc, egestas viverra eros.
            </p>
            <a href="" class="read-more-btn"
              >read more <i class="fas fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-latest-news">
          <a href=""><div class="latest-news-bg news-bg-3"></div></a>
          <div class="news-text-box">
            <h3><a href="">Makeup is a powerful tool to transform </a></h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> Admin</span>
              <span class="date"
                ><i class="fas fa-calendar"></i> 27 December, 2019</span
              >
            </p>
            <p class="excerpt">
              Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus
              nisi. Praesent vitae mattis nunc, egestas viverra eros.
            </p>
            <a href="" class="read-more-btn"
              >read more <i class="fas fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="" class="boxed-btn" routerLink="/news">More News</a>
      </div>
    </div>
  </div>
</div>
<!-- end latest news -->
